@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Raleway', "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-raleway {
  font-family: 'Raleway', Arial, 'Open Sans', sans-serif;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-sm, .text-md, .text-lg, .text-2xl, .text-3xl, .text-4xl, .text-5xl {
  line-height: initial;
}

.gradient-bg-welcome {
  background-color:#e7e6e5;
  background-image: 
    radial-gradient(at 0% 0%, rgb(162, 158, 184) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(212, 220, 245) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(212, 212, 212) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color:#e9e8f0;
  background-image: 
    radial-gradient(at 0% 0%, rgb(224, 218, 252) 0, transparent 50%), 
    radial-gradient(at 50% 100%, rgb(174, 176, 182) 0, transparent 50%);
}

.gradient-bg-services {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, rgb(184, 175, 233) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* yellow glassmorphism */
.yellow-glassmorphism {
  background: rgba(243, 208, 10, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* red glassmorphism */
.red-glassmorphism {
  background: rgba(214, 7, 7, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* green glassmorphism */
.green-glassmorphism {
  background: rgba(37, 223, 12, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#a099ff;
  background-image: 
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
}

.text-gradient-white {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-red {
  background-color: rgb(247, 3, 3);
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-yellow {
  background-color: rgba(247, 243, 3, 0.979);
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-green {
  background-color: rgba(23, 247, 3, 0.979);
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
  background-color: rgba(3, 40, 247, 0.979);
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-black {
  background-color: rgba(0, 0, 0, 0.979);
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Utilities */
.filter-grayscale {
  filter: grayscale(1);
}

.filter-invert{
  filter: invert(1);
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

